/* Cart.css */
 

  
  .cart-item button {
    background-color: #ff6347; /* Цвет кнопки Удалить */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-item button:hover {
    background-color: #e74c3c; /* Изменение цвета кнопки при наведении */
  }
  