.costs{
    margin-top: 60px;
    margin-left: -50px;
    font-size: 20px;
    display: flex;
    white-space: nowrap;
    font-weight: 800;
}
.costs span{
    font-size: 16px;
    color: rgb(113, 113, 113);
    margin-right: 15px;
    margin-left: -65px;
    font-weight: 300;
    
}
.costs .rub{
    margin-left: 15px;
    color: black;
    font-weight: 800;
}
.count_products{
    display: flex;
    justify-content: space-between;
}
.plusi{
    margin-left: 25%;
    background-color: rgb(235, 238, 240);
    border: 0;
    cursor: pointer;
}
.minus{
    border: 0;
    background-color: rgb(235, 238, 240);
    cursor: pointer;
    margin-left: 10%;
}
.count_calc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27%;
}